<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
 
  -->

	<system.webServer>
		<handlers>
			<remove name="aspNetCore"/>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
		</handlers>
		<aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
	</system.webServer>
	
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="false">
			<remove name="WebDAVModule" />
		</modules>

		<httpProtocol>
			<customHeaders>
				<clear />
				<add name="X-Powered-By" value="ASP.NET" />
				<add name="Access-Control-Allow-Origin" value="http://localhost:5173"/>
				<add name="Access-Control-Allow-Headers" value="*"/>
				<add name="Access-Control-Allow-Methods" value="GET,PUT,POST,DELETE,PATCH,OPTIONS,HEAD"/>
				<add name="Access-Control-Allow-Credentials" value="true"/>
				<!--<add name="Access-Control-Allow-Origin" value="*"/>
				<add name="Access-Control-Allow-Headers" value="Accept, X-Access-Token, X-Application-Name, X-Request-Sent-Time"/>
				<add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS"/>
				<add name="Access-Control-Allow-Credentials" value="true"/>-->
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>