<div class="card">
    <div class="card-body">
      <h2 class="text-[16px] font-semibold text-slate-700 dark:text-slate-300">Alterar Senha (Palavra Passe)</h2>
      <p class="mb-4 text-sm font-normal text-slate-400">
        Proteja sua conta com uma senha segura. Coloque letras, números e caracteres especiais
      </p>
      <form method="get" class="flex flex-col gap-5">
        <div class="grid grid-cols-1 gap-5 md:grid-cols-2">
          <label class="label" for="new-password">
            <span class="my-1 block">Nova Senha</span>
            <input type="password" class="input" id="new-password" />
          </label>
          <label class="label" for="confirm-password">
            <span class="my-1 block">Confirmar Nova Senha</span>
            <input type="password" class="input" id="confirm-password" />
          </label>
        </div>
        <!-- Button  -->
        <div class="flex items-center justify-end gap-4">
          <button
            type="button"
            id="cancelarButton"
            class="btn border border-slate-300 text-slate-500 dark:border-slate-700 dark:text-slate-300"
          >
            Cancelar
          </button>
          <button type="button" id="alterarSenhaButton" class="btn btn-primary">Atualizar</button>
        </div>
      </form>
    </div>
  </div>
  <script src="./../../js/profile/change-password/init.js"></script>