<div class="card">
    <div class="card-body">
      <h2 class="text-[16px] font-semibold text-slate-700 dark:text-slate-300">Apague esta conta</h2>
      <p class="mb-4 text-sm font-normal text-slate-400">
        Remova permanentemente este usuário da plataforma
      </p>
      <form class="grid grid-cols-1 gap-4 md:grid-cols-2 md:gap-0">
        <label class="label" for="password">
          <span class="my-1 block">Senha</span>
          <input type="password" class="input" id="password" />
        </label>
        <div class="flex flex-wrap items-center justify-center md:items-end md:justify-end">
          <div>
            <button class="btn btn-danger px-6" id="apagarContaButton" type="button">Apagar Esta Conta</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script src="./js/profile/delete-account/init.js"></script>


