<div class="card" style="display: none;">
    <div class="card-body">
      <h2 class="text-[16px] font-semibold text-slate-700 dark:text-slate-300">Notification</h2>
      <p class="mb-4 text-sm font-normal text-slate-400">Manage when you receive updates and alerts</p>
      <label for="show-desktop-notification" class="toggle my-2 flex items-center justify-between">
        <div class="label">
          <h3 class="text-sm font-medium text-slate-700 dark:text-slate-300">
            Show desktop notification
          </h3>
          <p class="mb-4 text-sm font-normal text-slate-400">
            Stay informed and in control with desktop notifications
          </p>
        </div>
        <div class="relative">
          <input class="toggle-input peer sr-only" id="show-desktop-notification" type="checkbox" />
          <div class="toggle-body"></div>
        </div>
      </label>
      <label for="send-email-notification" class="toggle my-2 flex items-center justify-between">
        <div class="label">
          <h3 class="text-sm font-medium text-slate-700 dark:text-slate-300">Send email notification</h3>
          <p class="mb-4 text-sm font-normal text-slate-400">
            Stay up-to-date even when you're away from the platform
          </p>
        </div>
        <div class="relative">
          <input
            class="toggle-input peer sr-only"
            id="send-email-notification"
            type="checkbox"
            checked=""
          />
          <div class="toggle-body"></div>
        </div>
      </label>
      <label for="show-chat-notification" class="toggle my-2 flex items-center justify-between">
        <div class="label">
          <h3 class="text-sm font-medium text-slate-700 dark:text-slate-300">Show chat notification</h3>
          <p class="mb-4 text-sm font-normal text-slate-400">
            Stay up-to-date even when you're away from the platform
          </p>
        </div>
        <div class="relative">
          <input
            class="toggle-input peer sr-only"
            id="show-chat-notification"
            type="checkbox"
            checked=""
          />
          <div class="toggle-body"></div>
        </div>
      </label>
    </div>
  </div>