  <!-- Main Content Starts -->
  <main class="container flex-grow p-4 sm:p-6">
    <div class="card mx-auto w-full max-w-md">
      <div class="card-body px-10 py-12">
        <div class="flex flex-col items-center justify-center">          
          <h5 class="mt-1">Bem vindo ao Super Ingresso</h5>
          <p class="text-sm text-slate-500 dark:text-slate-400">Digite seu login e senha</p>
        </div>

        <div class="mt-6 flex flex-col gap-5">
          <!-- Email -->
          <div>
            <label class="label mb-1">Email ou Login</label>
            <input type="text" id="loginInput" class="input" placeholder="Coloque seu email ou login" />
          </div>
          <!-- Password-->
          <div class="">
            <label class="label mb-1">Senha</label>
            <input type="password" id="senhaInput" class="input" placeholder="Password" />
          </div>
        </div>
        <!-- Remember & Forgot-->
        <div class="mt-2 flex items-center justify-between">
          <div class="flex items-center gap-1.5">
            <input
              type="checkbox"
              class="h-4 w-4 rounded border-slate-300 bg-transparent text-primary-500 shadow-sm transition-all duration-150 checked:hover:shadow-none focus:ring-0 focus:ring-offset-0 enabled:hover:shadow disabled:cursor-not-allowed disabled:opacity-50 dark:border-slate-600"
              id="remember-me"
            />
            <label for="remember-me" class="label">Lembrar Senha</label>
          </div>
          <a href="#" class="text-sm text-primary-500 hover:underline">Esqueci minha senha</a>
        </div>
        <!-- Login Button -->
        <div class="mt-8">
          <button id="loginButton" class="btn btn-primary w-full py-2.5">Login</button>
          <div class="relative mt-4 flex h-6 items-center justify-center py-4">
            <div class="h-[1px] w-full bg-slate-200 dark:bg-slate-600"></div>
            <div class="t absolute w-10 bg-white text-center text-xs text-slate-400 dark:bg-slate-800">Ou</div>
          </div>
          <div id="login-google-button" >
          </div>
          <div class="relative mt-4 flex h-6 items-center justify-center py-4">
            <div class="h-[1px] w-full bg-slate-200 dark:bg-slate-600"></div>
            <div class="t absolute w-10 bg-white text-center text-xs text-slate-400 dark:bg-slate-800">Ou</div>
          </div>          
          <a href="" id="facebook-login-button" class="fb connect mt-2 w-full text-center">Entrar com o Facebook</a>         
        
        <!-- Don't Have An Account -->
        <div class="mt-4 flex justify-center">
          <p class="text-sm text-slate-600 dark:text-slate-300">
            Ainda não tem uma conta?
            <a href="./register.html" class="text-sm text-primary-500 hover:underline">Crie sua conta!</a>
          </p>
        </div>
      </div>
    </div>
  </main>
  <!-- Main Content Ends -->