<div id="spinner" class="flex justify-center items-center h-screen">
  <div class="flex">
    <div class="spinner-pulse">
      <div class="spinner-pulse-primary"></div>
      <div class="spinner-pulse-primary"></div>
    </div>
  </div>
</div>

<main id="container" class="container flex-grow p-4 sm:p-6 hidden">
    <!-- Page Title Starts -->
    <div class="mb-6 flex flex-col justify-between gap-y-1 sm:flex-row sm:gap-y-0">
      <h5>Listagem de Usuários</h5>

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="#">Usuários</a>
        </li>
        <li class="breadcrumb-item">
          <a href="user-list.html">Listagem</a>
        </li>
      </ol>
    </div>
    <!-- Page Title Ends -->
  
    <!-- User List Starts -->
    <div class="space-y-4">
      <!-- User Header Starts -->
      <div class="flex flex-col items-center justify-between gap-y-4 md:flex-row md:gap-y-0">
        <!-- User Search Starts -->
        <form
          class="group flex h-10 w-full items-center rounded-primary border border-transparent bg-white shadow-sm focus-within:border-primary-500 focus-within:ring-1 focus-within:ring-inset focus-within:ring-primary-500 dark:border-transparent dark:bg-slate-800 dark:focus-within:border-primary-500 md:w-72"
        >
          <div class="flex h-full items-center px-2">
            <i class="h-4 text-slate-400 group-focus-within:text-primary-500" data-feather="search"></i>
          </div>
          <input
            class="h-full w-full border-transparent bg-transparent px-0 text-sm placeholder-slate-400 placeholder:text-sm focus:border-transparent focus:outline-none focus:ring-0"
            type="text"
            placeholder="Search"
          />
          <button type="button" id="pesquisar-button" class="btn btn-secondary">Pesquisar</button>
        </form>
        <!-- User Search Ends -->

        <!-- User Action Starts -->
        <div class="flex w-full items-center justify-between gap-x-4 md:w-auto">
          <div class="flex items-center gap-x-4">
            <div class="dropdown" data-placement="bottom-end">
              <div class="dropdown-toggle">
                <button type="button" class="btn bg-white font-medium shadow-sm dark:bg-slate-800">
                  <i class="w-4" data-feather="filter"></i>
                  <span class="hidden sm:inline-block">Filter</span>
                  <i class="w-4" data-feather="chevron-down"></i>
                </button>
              </div>
              <div class="dropdown-content w-72 !overflow-visible">
                <ul class="dropdown-list space-y-4 p-4">
                  <li class="dropdown-list-item">
                    <h2 class="my-1 text-sm font-medium">Status</h2>
                    <select class="select">
                      <option value="">Selecione o Status</option>
                      <option value="true">Ativo</option>
                      <option value="false">Inativo</option>
                    </select>
                  </li>
                </ul>
              </div>
            </div>
            <button id="exportButton" class="btn bg-white font-medium shadow-sm dark:bg-slate-800">
              <i class="h-4" data-feather="upload"></i>
              <span class="hidden sm:inline-block">Export</span>
            </button>
          </div>

          <a class="btn btn-primary" href="#" role="button">
            <i data-feather="plus" height="1rem" width="1rem"></i>
            <span class="hidden sm:inline-block">Add User</span>
          </a>
        </div>
        <!-- User Action Ends -->
      </div>
      <!-- User Header Ends -->

      <!-- datatable-wrapper datatable-loading no-footer sortable searchable fixed-column -->
      <!-- User Table Starts -->
      <div id="table-container" class="table-responsive whitespace-nowrap rounded-primary code-viewer datatable-wrapper datatable-loading sortable">        
       
      </div>

      <!-- User Table Ends -->

      <!-- User Pagination Starts -->
      <div id="pagination-table">
        
      </div>      
      <!-- User Pagination Ends -->
    </div>
    <!-- User List Ends -->
  </main>